@import "tailwindcss";

@theme {
  --color-hardknocks-black: #0a0a0a;
  --color-hardknocks-red: #cc0000;
  --color-hardknocks-gold: #ffb700;
  --color-ibelieve-blue: #0055ff;

  --font-impact: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
}

@utility bg-cinder-block {
  background-image: url("./assets/cinder-block.jpg");
}

:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: var(--font-body);
}