@import "tailwindcss";

@theme {
  --color-hardknocks-black: #0a0a0a;
  --color-hardknocks-red: #cc0000;
  --color-hardknocks-gold: #ffb700;
  --color-ibelieve-blue: #0055ff;

  --font-impact: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;

  --background-image-cinder-block: url("https://imagedelivery.net/m5BQ9NwISdGmaMKgfNT6sA/f294fb90-806d-4dca-e8a5-1b685d01a100/public");
}

:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: var(--font-body);
}